@import "~src/styles/variables";

body {
  overflow: hidden;
}

mat-sidenav {
  position: fixed;
  width: 50vw;
  max-width: 250px;
  min-height: 100% !important;
  background: map-get($theme-colors, "primary");
}
mat-sidenav-content {
  min-width: 100vw;
}

.header {
  background: map-get($theme-colors, "primary");
  width: 100vw;
  height: 50px;
}

.menu_wrapper {
  min-height: 100%;
  min-width: 80%;
  max-width: 80%;
  background: map-get($theme-colors, "primary");
}

.fa-bars {
  color: map-get($theme-colors, "accent");
  margin-left: 50vw;
  max-width: 250px;
  font-size: 1.8rem;
}

.bar_hidden {
  margin-left: 10px;
  margin-top: 10px;
}

.bar_menu {
  margin-top: 10px;
  margin-right: 10px;
}

.profile_image {
  width: 40vw;
  height: auto;
  max-height: 200px;
  max-width: 200px;
  border: 0px solid map-get($theme-colors, "accent");
  border-radius: 150px;
}

.menu p {
  text-align: center;
}

.profile_name {
  margin-top: 8vw;
}

.profile_posts {
  margin-top: 5vw;
}

.menu_item {
  text-align: center;
}

.menu_item a {
  color: map-get($theme-colors, "titleText");
  font-size: 1.4rem;
  text-decoration: none;
}

p {
  color: map-get($theme-colors, "titleText");
  font-size: 1.2rem;
}

mat-divider {
  margin-top: 3vw;
  margin-bottom: 3vw;
}