<form [formGroup]="formGroup">
  <app-text-input label="Titulo" [formControl]="formGroup.get('title')" ></app-text-input>
  <app-textarea-input label="Conteudo" [formControl]="formGroup.get('content')" ></app-textarea-input>
  <app-select-input label="Semester pertencente" [options]="semesters" [formControl]="formGroup.get('semester')" ngDefaultControl></app-select-input>
  <app-select-input label="Classe do post" bindLabel="name" [options]="classes"[formControl]="formGroup.get('class')" ngDefaultControl></app-select-input>
  <app-primary-btn [disabled]="!isValid()" (action)="emitSubmit()" label="ENVIAR"></app-primary-btn>
</form>