form {
  flex-direction: column;
}

app-text-input {
  margin: 3vh 0;
}

app-select-input {
  padding-top: 3vh;
}

app-primary-btn {
  cursor: pointer;
  margin-top: 3vh;
}

app-text-input, app-textarea-input, app-select-input {
  min-width: 80%;
  max-width: 80%;
}