app-text-input {
  max-width: 80%;
  margin: 10vh auto 5vh auto;
}

app-textarea-input {
  max-width: 80%;
  margin: auto;
}

app-select-input {
  padding-top: 5vh;
  max-width: 80%;
  margin: auto;
}

button {
  cursor: pointer;
  margin: 5vh auto 0 auto;
}