@import "~src/styles/main";

:host {
  display: block;
}
ng-select {
  min-width: 100%;
  min-height: 10vh;
  border: 2px map-get($theme-colors, "primary") solid;
  color: map-get($theme-colors, "primaryText");
  font-size: 1.6rem;
}