<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div class="flex-row">
        <h2 class="home_title">WELCOME TO CiC FORUM</h2>
      </div>
      <div class="flex-row ">
        <p class="home_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim ex vel scelerisque auctor. In efficitur elementum aliquet. Fusce dolor nisi, eleifend a dictum vel, viverra eu augue. Vestibulum imperdiet ex in nisi venenatis lacinia. Nulla venenatis efficitur diam in lobortis. Sed semper libero a metus viverra dapibus. Duis ac ipsum aliquet ante fringilla porta id non ante. Maecenas arcu lectus, egestas eu lobortis quis, pellentesque in mauris. Ut finibus cursus velit, id consectetur augue vehicula dignissim.
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sed efficitur metus. Vivamus suscipit orci vel nisi ullamcorper, sed consequat nisl lobortis. Ut sapien diam, tempor sed pretium id, cursus posuere velit. Quisque eleifend ipsum massa, ut viverra tortor iaculis vitae. Donec eleifend ligula id dictum ultricies. Aenean sed tortor mollis, tincidunt sapien ut, ullamcorper ex. Aenean auctor fermentum velit, nec molestie est volutpat at. Phasellus a elit id mi rutrum vulputate vitae in mi. Vestibulum id pharetra velit. Vivamus vitae scelerisque est. Curabitur tincidunt nec urna sed volutpat. Integer vehicula odio metus, sed laoreet dui eleifend a. Fusce efficitur ex commodo orci ornare condimentum.
        </p>
      </div>
    </div>
  </div>
</div>
