@import "~src/styles/main";

:host {
  display: block;
}
textarea {
  min-width: 100%;
  min-height: 30vh;
  border: 2px map-get($theme-colors, "primary") solid;
  color: map-get($theme-colors, "primaryText");
  font-size: 1.3rem;
}